[Desktop Entry]
Categories=Multimedia;Mistika;
Comment[en_US]=Hyperspeed dashboard
Comment=Hyperspeed dashboard
Exec=bash -c "cd `dirname %k`; ./hyperspeed-dashboard.py"
GenericName[en_US]=
GenericName=
Icon=/home/mistika/mistika-hyperspeed/res/img/hyperspeed_1024px.png
MimeType=
Name[en_US]=Hyperspeed
Name=Hyperspeed
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
